<!DOCTYPE html>
<html>
<head>
  <title>MyFirstApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1> Acesso ao Sistema </h1>
		<% if session[:user_id] %>
		<%= link_to "Logout", sessions_path, method: :delete %> Seja Bem-Vindo Usuário: <%= session[:user_display] %>
		<% else %>
		<%= link_to "Login", new_sessions_path %>
		<% end %>
	</header>
	<session id="main">
	<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
	<% end %>
	<%= yield %>
</session>
</body>
</html>