<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :Nome_do_Usuário %><br>
    <%= f.text_field :display_name %>
  </div>

  <div class="field">
    <%= f.label :Senha %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :Confirmação_da_Senha %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>
